{% extends 'base.html' %}
{% block content %}

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.path.label }}
        {{ form.path }} 
    </div>
    {% if form.path.errors %}
    <ul>
        {% for error in form.path.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    {{ form.submit }}
</form>

{% with messages = get_flashed_messages(with_categories=True)  %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    
{% endblock %}