{% extends 'base.html' %}
{% block content %}

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.basepath.label }}
        {{ form.basepath }}
    </div>
    {% if form.basepath.errors %}
    <ul>
        {% for error in form.basepath.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br>
    <input type="submit" value="Find Repos At Path">
</form>

{% with messages = get_flashed_messages(with_categories=True)  %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}