{% extends 'base.html' %}
{% block content %}

<form action="{{ url_for('main.addrepos') }}" class="mt-3">
    <button type="submit" class="btn btn-outline-primary">Add Repos</button>
</form>

<div class="col-md-6">
    <form method="GET" class="mt-3 mb-3">
        <div class="input-group input-group-sm">
            {{ form.filter(class_="form-control", placeholder="Filter displayed repos by string (match is done by contains string)") }}
            <button type="submit" class="btn btn-outline-secondary">Filter</button>
        </div>
    </form>
</div>

{% if total_count > 0 %}

{% if repos %}
<ul class="col-md-6 list-group">
    {% for repo in repos %}
    <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5><span class="fw-lighter">{{ repo.path|path_parent }}</span>{{ repo.path|path_last }}</h5>

            <div class="d-flex">
            <form action="{{ url_for('main.deleterepo', repo_id=repo.id) }}" method="POST">
                <button type="submit" class="btn p-0"><i class="bi bi-trash"></i></button>
            </form>
            <form action="{{ url_for('main.refreshrepo', repo_id=repo.id) }}" method="GET">
                <button type="submit" class="btn p-0"><i class="bi bi-arrow-clockwise"></i></button>
            </form>
            </div>
        </div>
        {% if repo.updated %}
            <small class="text-muted">Last updated: {{ repo.updated|last_updated }}</small>
            <pre class="repo-status text-muted mt-1">{{ repo.status }}</pre>
        {% else %}
            <small class="text-muted">Last updated: <span class="fst-italic">never</span></small>
        {% endif %}
    </div>
    {% endfor %}
</ul>
{% elif form.filter.data %}
<div class="alert alert-info">
No repos matched the filter
</div>
{% endif %}

{% else %}
<div class="alert alert-info">
You have no repos
</div>
{% endif %}


{% endblock %}