{% extends 'base.html' %}
{% block content %}

<h1><a href="{{ url_for('main.home') }}">Git Dashboard</a></h1>

{% with messages = get_flashed_messages(with_categories=True)  %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="{{ url_for('main.addrepos' ) }}" class="mt-3">
    <button type="submit" class="btn btn-outline-primary">Add Repos</button>
</form>
<!-- <a href="{{ url_for('main.addrepos' ) }}">Add Repos</a> -->

<div class="col-md-6">
    <form method="GET" class="mt-3 mb-3">
        <div class="input-group input-group-sm">
            {{ form.filter(class_="form-control", placeholder="Filter displayed repos by string (match is done by contains string)") }}
            <button type="submit" class="btn btn-outline-secondary">Filter</button>
        </div>
    </form>
</div>

{% if total_count > 0 %}

{% if repos %}
<ul class="col-md-6 list-group">
    {% for repo in repos %}
    <a href="{{ url_for('main.viewrepo', repo_id=repo.id) }}"
       class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5><span class="fw-lighter">{{ repo.path|path_parent }}</span>{{ repo.path|path_last }}</h5>
        </div>
        <pre class="repo-status text-muted">{% if repo.status %}{{ repo.status }}{% else %}(Status not yet retrieved){% endif %}</pre>
    </a>
    {% endfor %}
</ul>
{% elif form.filter.data %}
<div class="alert alert-info">
No repositories matched the filter
</div>
{% endif %}

{% else %}
<div class="alert alert-info">
You have no repositories
</div>
{% endif %}


{% endblock %}