{% extends 'base.html' %}
{% block content %}

<h1><a href="{{ url_for('main.home') }}">Git Dashboard</a></h1>

{% with messages = get_flashed_messages(with_categories=True)  %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<a href="{{ url_for('main.addrepo' ) }}">Add Repo</a>

<div>
    <form method="GET">
        {{ form.filter }}
        {{ form.submit }}
    </form>
</div>

{% if total_count > 0 %}

{% if repos %}
<div class="repos">
    <ul>
        {% for repo in repos %}
        <li><a href="{{ url_for('main.viewrepo', repo_id=repo.id) }}">{{ repo.path }}</a></li>
        {% endfor %}
    </ul>
</div>
{% elif form.filter.data %}
<p>No Repos match the filter</p>
{% endif %}

{% else %}
<p>You have no Repos</p>
{% endif %}


{% endblock %}